sources/onvif.services/Service References/analytics/analytics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tan="http://www.onvif.org/ver20/analytics/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.onvif.org/ver20/analytics/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tt="http://www.onvif.org/ver10/schema" elementFormDefault="qualified" targetNamespace="http://www.onvif.org/ver20/analytics/wsdl">
      <xs:import schemaLocation="http://www.onvif.org/onvif/ver10/schema/onvif.xsd" namespace="http://www.onvif.org/ver10/schema" />
      <xs:element name="GetSupportedRules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetSupportedRulesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SupportedRules" type="tt:SupportedRules" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateRules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Rule" type="tt:Config" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateRulesResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="DeleteRules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
            <xs:element minOccurs="1" maxOccurs="unbounded" name="RuleName" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteRulesResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="ModifyRules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Rule" type="tt:Config" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ModifyRulesResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRulesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Rule" type="tt:Config" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetSupportedAnalyticsModules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetSupportedAnalyticsModulesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SupportedAnalyticsModules" type="tt:SupportedAnalyticsModules" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateAnalyticsModules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
            <xs:element maxOccurs="unbounded" name="AnalyticsModule" type="tt:Config" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateAnalyticsModulesResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="DeleteAnalyticsModules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
            <xs:element maxOccurs="unbounded" name="AnalyticsModuleName" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteAnalyticsModulesResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="ModifyAnalyticsModules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
            <xs:element maxOccurs="unbounded" name="AnalyticsModule" type="tt:Config" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ModifyAnalyticsModulesResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetAnalyticsModules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConfigurationToken" type="tt:ReferenceToken" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnalyticsModulesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalyticsModule" type="tt:Config" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetSupportedRulesRequest">
    <wsdl:part name="parameters" element="tan:GetSupportedRules" />
  </wsdl:message>
  <wsdl:message name="GetSupportedRulesResponse">
    <wsdl:part name="parameters" element="tan:GetSupportedRulesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateRulesRequest">
    <wsdl:part name="parameters" element="tan:CreateRules" />
  </wsdl:message>
  <wsdl:message name="CreateRulesResponse">
    <wsdl:part name="parameters" element="tan:CreateRulesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRulesRequest">
    <wsdl:part name="parameters" element="tan:DeleteRules" />
  </wsdl:message>
  <wsdl:message name="DeleteRulesResponse">
    <wsdl:part name="parameters" element="tan:DeleteRulesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRulesRequest">
    <wsdl:part name="parameters" element="tan:GetRules" />
  </wsdl:message>
  <wsdl:message name="GetRulesResponse">
    <wsdl:part name="parameters" element="tan:GetRulesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSupportedAnalyticsModulesResponse">
    <wsdl:part name="parameters" element="tan:GetSupportedAnalyticsModulesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSupportedAnalyticsModulesRequest">
    <wsdl:part name="parameters" element="tan:GetSupportedAnalyticsModules" />
  </wsdl:message>
  <wsdl:message name="CreateAnalyticsModulesRequest">
    <wsdl:part name="parameters" element="tan:CreateAnalyticsModules" />
  </wsdl:message>
  <wsdl:message name="CreateAnalyticsModulesResponse">
    <wsdl:part name="parameters" element="tan:CreateAnalyticsModulesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAnalyticsModulesRequest">
    <wsdl:part name="parameters" element="tan:DeleteAnalyticsModules" />
  </wsdl:message>
  <wsdl:message name="DeleteAnalyticsModulesResponse">
    <wsdl:part name="parameters" element="tan:DeleteAnalyticsModulesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAnalyticsModulesRequest">
    <wsdl:part name="parameters" element="tan:GetAnalyticsModules" />
  </wsdl:message>
  <wsdl:message name="GetAnalyticsModulesResponse">
    <wsdl:part name="parameters" element="tan:GetAnalyticsModulesResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyRulesRequest">
    <wsdl:part name="parameters" element="tan:ModifyRules" />
  </wsdl:message>
  <wsdl:message name="ModifyRulesResponse">
    <wsdl:part name="parameters" element="tan:ModifyRulesResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyAnalyticsModulesRequest">
    <wsdl:part name="parameters" element="tan:ModifyAnalyticsModules" />
  </wsdl:message>
  <wsdl:message name="ModifyAnalyticsModulesResponse">
    <wsdl:part name="parameters" element="tan:ModifyAnalyticsModulesResponse" />
  </wsdl:message>
  <wsdl:portType name="RuleEnginePort">
    <wsdl:operation name="GetSupportedRules">
      <wsdl:input message="tan:GetSupportedRulesRequest" />
      <wsdl:output message="tan:GetSupportedRulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateRules">
      <wsdl:input message="tan:CreateRulesRequest" />
      <wsdl:output message="tan:CreateRulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRules">
      <wsdl:input message="tan:DeleteRulesRequest" />
      <wsdl:output message="tan:DeleteRulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetRules">
      <wsdl:input message="tan:GetRulesRequest" />
      <wsdl:output message="tan:GetRulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="ModifyRules">
      <wsdl:input message="tan:ModifyRulesRequest" />
      <wsdl:output message="tan:ModifyRulesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AnalyticsEnginePort">
    <wsdl:operation name="GetSupportedAnalyticsModules">
      <wsdl:input message="tan:GetSupportedAnalyticsModulesRequest" />
      <wsdl:output message="tan:GetSupportedAnalyticsModulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateAnalyticsModules">
      <wsdl:input message="tan:CreateAnalyticsModulesRequest" />
      <wsdl:output message="tan:CreateAnalyticsModulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnalyticsModules">
      <wsdl:input message="tan:DeleteAnalyticsModulesRequest" />
      <wsdl:output message="tan:DeleteAnalyticsModulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticsModules">
      <wsdl:input message="tan:GetAnalyticsModulesRequest" />
      <wsdl:output message="tan:GetAnalyticsModulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="ModifyAnalyticsModules">
      <wsdl:input message="tan:ModifyAnalyticsModulesRequest" />
      <wsdl:output message="tan:ModifyAnalyticsModulesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RuleEngineBinding" type="tan:RuleEnginePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSupportedRules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/GetSupportedRules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/CreateRules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/DeleteRules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/GetRules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyRules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/ModifyRules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnalyticsEngineBinding" type="tan:AnalyticsEnginePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSupportedAnalyticsModules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/GetSupportedAnalyticsModules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAnalyticsModules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/CreateAnalyticsModules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnalyticsModules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/DeleteAnalyticsModules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticsModules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/GetAnalyticsModules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAnalyticsModules">
      <soap:operation soapAction="http://www.onvif.org/ver20/analytics/wsdl/ModifyAnalyticsModules" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>