onvif.services/Service References/events/event.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tev="http://www.onvif.org/ver10/events/wsdl" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://www.w3.org/2005/08/addressing" targetNamespace="http://www.onvif.org/ver10/events/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://docs.oasis-open.org/wsn/bw-2" location="http://docs.oasis-open.org/wsn/bw-2.wsdl" />
  <wsdl:types>
    <xs:schema xmlns:wstop="http://docs.oasis-open.org/wsn/t-1" elementFormDefault="qualified" targetNamespace="http://www.onvif.org/ver10/events/wsdl">
      <xs:import schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd" namespace="http://www.w3.org/2005/08/addressing" />
      <xs:import schemaLocation="http://docs.oasis-open.org/wsn/t-1.xsd" namespace="http://docs.oasis-open.org/wsn/t-1" />
      <xs:import schemaLocation="http://docs.oasis-open.org/wsn/b-2.xsd" namespace="http://docs.oasis-open.org/wsn/b-2" />
      <xs:element name="CreatePullPointSubscription">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Filter" type="wsnt:FilterType" />
            <xs:element minOccurs="0" name="InitialTerminationTime" nillable="true" type="wsnt:AbsoluteOrRelativeTimeType" />
            <xs:element minOccurs="0" name="SubscriptionPolicy">
              <xs:complexType>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreatePullPointSubscriptionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubscriptionReference" type="wsa:EndpointReferenceType" />
            <xs:element ref="wsnt:CurrentTime" />
            <xs:element ref="wsnt:TerminationTime" />
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PullMessages">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Timeout" type="xs:duration" />
            <xs:element name="MessageLimit" type="xs:int" />
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PullMessagesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CurrentTime" type="xs:dateTime" />
            <xs:element name="TerminationTime" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="wsnt:NotificationMessage" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PullMessagesFaultResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MaxTimeout" type="xs:duration" />
            <xs:element name="MaxMessageLimit" type="xs:int" />
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SetSynchronizationPoint">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="SetSynchronizationPointResponse">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetEventProperties">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetEventPropertiesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="TopicNamespaceLocation" type="xs:anyURI" />
            <xs:element ref="wsnt:FixedTopicSet" />
            <xs:element ref="wstop:TopicSet" />
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="wsnt:TopicExpressionDialect" />
            <xs:element minOccurs="1" maxOccurs="unbounded" name="MessageContentFilterDialect" type="xs:anyURI" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ProducerPropertiesFilterDialect" type="xs:anyURI" />
            <xs:element minOccurs="1" maxOccurs="unbounded" name="MessageContentSchemaLocation" type="xs:anyURI" />
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CreatePullPointSubscriptionRequest">
    <wsdl:part name="parameters" element="tev:CreatePullPointSubscription" />
  </wsdl:message>
  <wsdl:message name="CreatePullPointSubscriptionResponse">
    <wsdl:part name="parameters" element="tev:CreatePullPointSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="PullMessagesRequest">
    <wsdl:part name="parameters" element="tev:PullMessages" />
  </wsdl:message>
  <wsdl:message name="PullMessagesResponse">
    <wsdl:part name="parameters" element="tev:PullMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="PullMessagesFaultResponse">
    <wsdl:part name="parameters" element="tev:PullMessagesFaultResponse" />
  </wsdl:message>
  <wsdl:message name="SetSynchronizationPointRequest">
    <wsdl:part name="parameters" element="tev:SetSynchronizationPoint" />
  </wsdl:message>
  <wsdl:message name="SetSynchronizationPointResponse">
    <wsdl:part name="parameters" element="tev:SetSynchronizationPointResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventPropertiesRequest">
    <wsdl:part name="parameters" element="tev:GetEventProperties" />
  </wsdl:message>
  <wsdl:message name="GetEventPropertiesResponse">
    <wsdl:part name="parameters" element="tev:GetEventPropertiesResponse" />
  </wsdl:message>
  <wsdl:portType name="EventPortType">
    <wsdl:operation name="CreatePullPointSubscription">
      <wsdl:input wsa:Action="http://www.onvif.org/ver10/events/wsdl/EventPortType/CreatePullPointSubscriptionRequest" message="tev:CreatePullPointSubscriptionRequest" />
      <wsdl:output wsa:Action="http://www.onvif.org/ver10/events/wsdl/EventPortType/CreatePullPointSubscriptionResponse" message="tev:CreatePullPointSubscriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetEventProperties">
      <wsdl:input wsa:Action="http://www.onvif.org/ver10/events/wsdl/EventPortType/GetEventPropertiesRequest" message="tev:GetEventPropertiesRequest" />
      <wsdl:output wsa:Action="http://www.onvif.org/ver10/events/wsdl/EventPortType/GetEventPropertiesResponse" message="tev:GetEventPropertiesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PullPointSubscription">
    <wsdl:operation name="PullMessages">
      <wsdl:input wsa:Action="http://www.onvif.org/ver10/events/wsdl/PullPointSubscription/PullMessagesRequest" message="tev:PullMessagesRequest" />
      <wsdl:output wsa:Action="http://www.onvif.org/ver10/events/wsdl/PullPointSubscription/PullMessagesResponse" message="tev:PullMessagesResponse" />
      <wsdl:fault wsa:Action="http://www.onvif.org/ver10/events/wsdl/PullPointSubscription/PullMessages/Fault/PullMessagesFaultResponse" name="PullMessagesFaultResponse" message="tev:PullMessagesFaultResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetSynchronizationPoint">
      <wsdl:input wsa:Action="http://www.onvif.org/ver10/events/wsdl/PullPointSubscription/SetSynchronizationPointRequest" message="tev:SetSynchronizationPointRequest" />
      <wsdl:output wsa:Action="http://www.onvif.org/ver10/events/wsdl/PullPointSubscription/SetSynchronizationPointResponse" message="tev:SetSynchronizationPointResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PullPointSubscriptionBinding" type="tev:PullPointSubscription">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PullMessages">
      <soap:operation soapAction="http://www.onvif.org/ver10/events/wsdl/PullMessages" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PullMessagesFaultResponse">
        <soap:fault use="literal" name="PullMessagesFaultResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetSynchronizationPoint">
      <soap:operation soapAction="http://www.onvif.org/ver10/events/wsdl/SetSynchronizationPoint" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventBinding" type="tev:EventPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePullPointSubscription">
      <soap:operation soapAction="http://www.onvif.org/ver10/events/wsdl/CreatePullPointSubscription" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventProperties">
      <soap:operation soapAction="http://www.onvif.org/ver10/events/wsdl/GetEventProperties" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubscriptionManagerBinding" type="wsntw:SubscriptionManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Renew">
      <soap:operation soapAction="http://www.onvif.org/ver10/events/wsdl/Renew" />
      <wsdl:input name="RenewRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RenewResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="wsnt:ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnacceptableTerminationTimeFault">
        <soap:fault use="literal" name="wsnt:UnacceptableTerminationTimeFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap:operation soapAction="http://www.onvif.org/ver10/events/wsdl/Unsubscribe" />
      <wsdl:input name="UnsubscribeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UnsubscribeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="wsnt:ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnableToDestroySubscriptionFault">
        <soap:fault use="literal" name="wsnt:UnableToDestroySubscriptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationProducerBinding" type="wsntw:NotificationProducer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://www.onvif.org/ver10/events/wsdl/Subscribe" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="wsnt:ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidFilterFault">
        <soap:fault use="literal" name="wsnt:InvalidFilterFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TopicExpressionDialectUnknownFault">
        <soap:fault use="literal" name="wsnt:TopicExpressionDialectUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTopicExpressionFault">
        <soap:fault use="literal" name="wsnt:InvalidTopicExpressionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TopicNotSupportedFault">
        <soap:fault use="literal" name="wsnt:TopicNotSupportedFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
        <soap:fault use="literal" name="wsnt:InvalidProducerPropertiesExpressionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidMessageContentExpressionFault">
        <soap:fault use="literal" name="wsnt:InvalidMessageContentExpressionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
        <soap:fault use="literal" name="wsnt:UnacceptableInitialTerminationTimeFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnrecognizedPolicyRequestFault">
        <soap:fault use="literal" name="wsnt:UnrecognizedPolicyRequestFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedPolicyRequestFault">
        <soap:fault use="literal" name="wsnt:UnsupportedPolicyRequestFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotifyMessageNotSupportedFault">
        <soap:fault use="literal" name="wsnt:NotifyMessageNotSupportedFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SubscribeCreationFailedFault">
        <soap:fault use="literal" name="wsnt:SubscribeCreationFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <soap:operation soapAction="http://www.onvif.org/ver10/events/wsdl/GetCurrentMessage" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="wsnt:ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TopicExpressionDialectUnknownFault">
        <soap:fault use="literal" name="wsnt:TopicExpressionDialectUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTopicExpressionFault">
        <soap:fault use="literal" name="wsnt:InvalidTopicExpressionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TopicNotSupportedFault">
        <soap:fault use="literal" name="wsnt:TopicNotSupportedFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoCurrentMessageOnTopicFault">
        <soap:fault use="literal" name="wsnt:NoCurrentMessageOnTopicFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MultipleTopicsSpecifiedFault">
        <soap:fault use="literal" name="wsnt:MultipleTopicsSpecifiedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationConsumerBinding" type="wsntw:NotificationConsumer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Notify">
      <soap:operation soapAction="urn:#Notify" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PullPointBinding" type="wsntw:PullPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="urn:#GetMessages" />
      <wsdl:input name="GetMessagesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnableToGetMessagesFault">
        <soap:fault use="literal" name="UnableToGetMessagesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DestroyPullPoint">
      <soap:operation soapAction="urn:#DestroyPullPoint" />
      <wsdl:input name="DestroyPullPointRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DestroyPullPointResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnableToDestroyPullPointFault">
        <soap:fault use="literal" name="UnableToDestroyPullPointFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap:operation soapAction="urn:#Notify" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreatePullPointBinding" type="wsntw:CreatePullPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePullPoint">
      <soap:operation soapAction="urn:#CreatePullPoint" />
      <wsdl:input name="CreatePullPointRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreatePullPointResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnableToCreatePullPointFault">
        <soap:fault use="literal" name="UnableToCreatePullPointFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PausableSubscriptionManagerBinding" type="wsntw:PausableSubscriptionManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Renew">
      <soap:operation soapAction="urn:#Renew" />
      <wsdl:input name="RenewRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RenewResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnacceptableTerminationTimeFault">
        <soap:fault use="literal" name="UnacceptableTerminationTimeFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap:operation soapAction="urn:#Unsubscribe" />
      <wsdl:input name="UnsubscribeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UnsubscribeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnableToDestroySubscriptionFault">
        <soap:fault use="literal" name="UnableToDestroySubscriptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PauseSubscription">
      <soap:operation soapAction="urn:#PauseSubscription" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PauseFailedFault">
        <soap:fault use="literal" name="PauseFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResumeSubscription">
      <soap:operation soapAction="urn:#ResumeSubscription" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault use="literal" name="ResourceUnknownFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ResumeFailedFault">
        <soap:fault use="literal" name="ResumeFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>